<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
<h1>about lern code with durgesh</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis tempora quasi quia porro molestias cumque necessitatibus possimus praesentium expedita voluptatibus velit amet beatae autem illum voluptate minima repellat ullam veniam consequuntur quod modi enim excepturi est eveniet at ut esse quis. Similique quisquam impedit ex quos incidunt quae quibusdam soluta dolorum odit sit autem natus fugiat iusto assumenda ab quaerat maiores minima neque hic magnam itaque nisi illum dicta adipisci placeat. Repudiandae totam atque repellat mollitia dolor nisi provident impedit! Tempore aut amet impedit culpa minima earum voluptatem ab exercitationem fugit esse libero officia magni officiis reiciendis sint voluptates eveniet?</p>
</section>
</body>
</html>