<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="" th:href="@{/CSS/myStyle.css}"/>
</head>
<body>
<div class="container">
<img src="" class="profile" th:src="@{/Images/download.jpeg}" alt="" />
<h1>Adding CSS,JavaScript And Image in thymeleaf</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque labore soluta amet incidunt deleniti aliquam sed animi dolores at possimus suscipit aperiam corporis perferendis nisi dolor earum quasi eveniet ab. Minus non voluptas autem nemo pariatur suscipit eos illo accusantium dolores harum cum sint. Aut repudiandae voluptatibus explicabo odit cum.</p>
</div>
<script src="" th:src="@{/JS/myjs.js}"></script>
</body>
</html>